.list-achievement-big .slick-list {
    margin-left: -22.5px;
    margin-right: -22.5px;
}
.list-achievement-small .slick-list {
    margin-left: -22px;
    margin-right: -22px;
}
.list-solutions .slick-slide {
    margin-left: 1px;
    margin-right: 1px;
}
.list-solutions .slick-list {
    margin-left: -1px;
    margin-right: -1px;
}
.list-solutions .item{
    display: flex !important;
}
.list-solutions .slick-slide > div {
    height: 100%;
}
.list-solutions .slick-track {
    display: flex !important;
}
.list-solutions .slick-slide {
    height: inherit !important;
}




